.nav {
    display: flex;
    padding: 1rem;
    background-color: #1d4ed8;
    color: #fff;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.logo {
}

.links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
    gap: 1rem;
}

.links li {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.links a {
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #fff;
}

.links a:hover {
    background-color: #2563eb;
    border-radius: 0.25rem;
}
